checkpoints
venv
*pycache*
checkpoints.zip
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw

*.spec*
*.spec.*

build/
dist/
.vscode/
.idea/
.pytest_cache/
.cursorignore
